/Maps1/.date.cnd
/Maps1/.date.map.cnd
/Maps1/area.dat
/Maps1/centre_map1_all.bmp
/Maps1/outer_map1_all.bmp
/Maps1/shapes/
/Maps1/ptrkg/
/Maps1/curvedSurface/
/Maps1/.map/.cnd/
/Maps1/.map/1/
/Maps1/.map/*/*.cnd
/Maps1/.map/*/*.txt.svg
/Maps1/.map/*/*.map.Z
